*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.config{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.diyi{
    position: relative;
    width: 450px;
    height: 700px;
    margin: 40px;
}
.diyi img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.dier{
    position: relative;
    width: 700px;
    height: 700px;
    margin: 40px;
}
.dier img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.dier video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}